* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin-top: 30px;
  padding-bottom: 15px;
  background-color: #F4F9FD;
}

main {
  padding-bottom: 50px;
  background-color: #F4F9FD;
}

footer {
  padding-bottom: 30px;
  background-color: #F4F9FD;
}


/* clear for float */
.clear_box::after {
  content: "";
  display: block;
  clear: both;
}
/* /clear for float */

/* fonts */
* {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  color: #33475B;
}

.fa-check-circle {
  color:#FF7A59;
}

.text_h3 {
  font-size: 25px;
  padding-bottom: 10px;
  font-family: 'Dosis', sans-serif;
}

.text_h4 {
  padding-top: 25px;
  font-size: 18px;
  padding-bottom: 10px;
  font-family: 'Dosis', sans-serif;
}

.text_h5 {
  font-size: 30px;
  color: #fff;
  font-family: 'Dosis', sans-serif;
}

.small_font {
  font-size: 12px;
}
/* /fonts */

/* buttons */
.button_orange{
  color: #fff;
  background-color: #FF7A59;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.button_login {
  color:#FF7A59;
  background-color: transparent;
  border: 1px solid #FF7A59;
  border-radius: 5px;
  padding: 10px 10px;
}

.button_learnmore {
  color: #fff;
  background-color: #FF7A59;
  border: none;
  border-radius: 5px;
  padding: 16px 25px;
}
/* /buttons */

/* img */
.main_logo {
  height: 100px;
}

.main_centre_bottom_icon {
  height: 40px;
}

.main_bottom_sponsor {
  height: 15px;
}
/* /img */


/* containers */
/* small */
.container_small {
  width: 50%;
  margin: auto;
}
/* /small */

/* normal */
.container {
  width: 80%;
  margin: auto;
}
/* /normal */
/* /containers */

/* borders */
.main_borders {
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  box-shadow: 5px 10px #888888;
}
/* /borders */

/* hr */
.main_hr {
  display: inline-block;
  width: 250px;
  background-color: #888888;
  border: 1px solid #888888;
}

.main_bottom_hr {
  display: inline-block;
  width: 243px;
  background-color: #fff;
  border: 1px solid #fff;
}
/* /hr */

/* navbar */
.navbar {
  overflow: hidden;
  background-color: #F4F9FD;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar div {
  text-align: left;
  display: block;
}
/* /navbar */


/* header */
/* header top */

#header_top_container {
  border-bottom: 1px solid black;
}

#header_top{
  padding: 15px 0 ;
}

#header_top li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

/* left column */
.language_choice {
  float: left;
  width: 50%;
}

.header_top_left_list {
  color: #00008B;
}

.header_top_left_list li {
  padding-top:  10px;
  padding-right: 15px;
}

.border_contactus {
  padding-left: 15px;
  border-left: 2px solid #888888;
}
/* /left column */

/* right column */
.search {
  float: left;
  width: 50%;
  text-align: right;
  padding: 0 5px;
}

.header_top_right_list li {
  padding-left: 10px;
}

.header_top_right_list li > i {
  color: #007fff
}
/* /right column */
/* /header top */

/* header middle */
/* header middle top */
#header_middle_top {
  padding: 60px 0;
}

.header_middle_top_logo{
  float: left;
  width: 50%;
  vertical-align: middle;
}

.header_middle_navigation {
  float: left;
  width: 50%;
  text-align: right;
}

.header_middle_top_right_list li{
  display: inline-block;
  list-style: none;
  padding: 0 15px;
}
/* /header middle top */

/* header middle center */
#header_middle_background{
  position: relative;
  height: 700px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 0;
}

/* layer */
.layer {
  position: absolute;
  bottom: 5px;
  right: 0;
  height: 79px;
  width: 100%;
  background-color: #AAE9E2;
  border-top: 2px solid #000;
  z-index: 1;

}
/* /layer */
.header_middle_text {
  float: left;
  width: 50%;
  padding: 35px 0;
}

.header_middle_text li {
  list-style: none;
  padding: 20px 0;
}

.header_middle_text li button {
  padding: 20px;
}

h1 {
  font-size: 50px;
}
/* /header middle center */
/* /header middle */

/* header bottom */
/* /header bottom */

/* /header */

/* main */
/* main top */

.main_top_img {
  float: left;
  height: 200px;
  width: 100%;
  background-image: url(../img/Integrations_Illustration_2x.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5% 31%;
}
.main_top_text {
  text-align: center;
  padding: 15px;
}

.main_top_text strong {
  font-size: 35px;
}

.main_top_text p{
  padding: 20px 0;
}
/* /main top */

/* main centre */
/* main centre top */
#main_centre_top {
  padding: 40px 30px;
}
/* left column */
.main_centre_top_left_column {
  float: left;
  width: 50%;
  text-align: center;
}

.main_centre_top_left_list li {
  list-style: none;
  padding: 10px 0 ;
}


/* /left column */

/* right column */
.main_centre_top_right_column {
  float: left;
  width: 50%;
  text-align: left;
  margin-left: -100px;
}


.main_centre_top_right_column li {
  display: inline-block;
  list-style: none;
  padding: 15px 15px;
  vertical-align: bottom;
}

.main_centre_top_right_column_line {
  height: 10px;
  width: 300px;
  border-top:  3px solid #888888;
}

.main_centre_top_right_column_navigation li {
  padding-right: 30px;
}

.main_centre_top_right_column_navigation li i{
  padding-right: 8px;
}
/* /right column */
/* /main centre top */

/* main centre middle */
#main_centre_middle {
  padding: 50px 0;
}

#main_centre_middle li i {
  padding-right: 8px;
}

#main_centre_middle div {
  text-align: center;
  padding: 25px;
}

#main_centre_middle li {
  text-align: left;
}

#main_centre_middle div p {
  padding-bottom:  50px;
}
/* left column */
.main_centre_middle_left_column {
  float: left;
  width: 25%;
  margin-right: 13%;
}

.main_centre_middle_left_list {
  padding: 20px 0 50px 0;
}

.main_centre_middle_left_list li {
  list-style: none;
}
/* /left column */

/* middle column */
.main_centre_middle_middle_column {
  float: left;
  width: 25%;
}

.main_centre_middle_middle_list {
  padding: 20px 0 50px 0;
}

.main_centre_middle_middle_list li {
  list-style: none;
}
/* /middle column */

/* right column */
.main_centre_middle_right_column {
  float: right;
  width: 25%;
}

.main_centre_middle_right_list {
  padding: 20px 0 50px 0;
}

.main_centre_middle_right_list li {
  list-style: none;
}
/* right column */
/* /main centre middle */
/* /main centre */

/* main centre bottom */
.main_centre_bottom_background {
  background: rgb(15,139,164);
  background: linear-gradient(48deg, rgba(15,139,164,1) 67%, rgba(24,203,131,1) 100%);
}

#main_centre_bottom {
  text-align: center;
  padding: 30px 15px;
  color: white;
}

#main_centre_bottom strong {
  font-size: 35px;
  color: #fff;
}

#main_centre_bottom > p {
  padding: 30px 10px;
  color: #fff;
}

/* table */
.main_bottom_table p {
  color: #fff;
}
/* column1 */
.main_bottom_column1 {
  float: left;
  width: 25%;
  border-right: 2px solid #ffff;
  padding: 20px 0;
}
.main_bottom_column1 hr {
  margin: 20px 0;
}
/* /column1 */

/* column2 */
.main_bottom_column2 {
  float: left;
  width: 25%;
  border-right: 2px solid #ffff;
  padding: 20px 0;
}

.main_bottom_column2 hr {
  margin: 20px 0;
}
/* /column2 */

/* column3 */
.main_bottom_column3 {
  float: left;
  width: 25%;
  border-right: 2px solid #ffff;
  padding: 20px 0;
}

.main_bottom_column3 hr {
  margin: 20px 0;
}
/* /column3 */

/* column4 */
.main_bottom_column4 {
  float: left;
  width: 25%;
  padding: 20px 0;
}

.main_bottom_column4 hr {
  margin: 20px 0;
}
/* /column4 */
/* /table */
/* /main centre bottom */
/* /main */

/* main bottom */
/* main bottom top */
#main_bottom_top {
  padding: 25px 15px;
}

/* column left */
.main_bottom_top_column_left {
  float: left;
  width: 20%;
  text-align: left;
  margin-left: 115px;
}

.main_bottom_top_column_left h3{
  font-size: 45px;
  padding-bottom: 20px;
}
/* /column left */

/* column right */
.main_bottom_top_column_right {
  float: left;
  width: 70%;
  text-align: center;
}

.main_bottom_top_column_right li{
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  margin: 8px 18px;
}

.main_bottom_top_column_right_bottom_list li {
  padding-right:  15px;
}
/* img heights */
.g2crowd {
  height: 35px;
}
.survey_monkey {
  height: 45px;
}

.subaru {
  height: 45px;
}

.classpass {
  height: 45px;
}
/* /img heights */
/* /column right */
/* /main bottom top */

/* main bottom middle */
#main_bottom_middle {
  margin-top: 60px;
}
/* left column */
.main_bottom_middle_column_left {
  float: left;
  width: 35%;
  text-align: left;
}

.main_bottom_middle_column_left button {
  padding: 15px 25px;
  margin: 50px 0 ;
}

.main_bottom_middle_column_left h3 {
  font-size: 31px;
  margin-bottom: 30px;
}
/* /left column */

/* column right */
.main_bottom_middle_column_right {
  float: left;
  width: 50%;
  text-align: right;
  margin-left: 140px;
}

.main_bottom_middle_column_right_img {
  height: 400px;
}
/* /column right */
/* /main bottom middle */
/* /main bottom */

/* footer */

/* background */
#footer_background {
  background-color: #32495b;
}
/* /background */

/* container */
/* /container */

/* footer top */
.footer_top {
  padding: 25px 0;
}
.footer_top div {
  float: left;
  width: 25%;
}
.footer_top li {
  list-style: none;
  padding: 8px 0;
}
.footer_top a {
  color: #c4d0dc;
  text-decoration: none;
}

.footer_top a:hover {
  color: #007fff;
}

.footer_top li > strong {
  color: #fff;
}

.footer_top li:first-child {
  padding-bottom: 20px;
}
/* /footer top */

/* list1 */
/* /list1 */

/* list2 */
/* /list2 */

/* list3 */
/* /list3 */

/* list4 */
.footer_top_list_4 li > button {
  color: #32495b;
  background-color:  #c4d0dc;
}

/* social list */
.footer_top_list_social li {
  display: inline-block;
  padding-right: 40px;
}

.footer_top_list_social a {
  text-decoration: none;
}

.footer_top_list_social a :hover{
  color: #007fff;
}

.footer_top_list_social i {
  color : #c4d0dc;
}
/* /social list */
/* /list4 */

/* footer bottom */
.footer_bottom {
  text-align: center;
  margin-top: 100px;
}

.footer_bottom hr {
  display: inline-block;
  width: 100%;
  background-color: #c4d0dc;
  border: 1px solid #c4d0dc;
}
/* list language */
.footer_bottom_list_language li{
  display: inline-block;
  list-style: none;
  text-align: center;
  padding-right: 25px;
}

.footer_bottom_list_language a {
  color: #c4d0dc;
  text-decoration: none;
}

.footer_bottom_list_language a:hover {
  color: #007fff;
}
/* /list language */

/* left logo copyright */
.footer_bottom_left_logo {
  float: left;
  width: 50%;
  text-align: left;
  margin-top: 30px;
  padding-bottom: 45px;
}

.footer_bottom_left_logo p {
  color: #c4d0dc;
}
/* /left logo copyright */

/* right privacy */
.footer_bottom_right_privacy {
  float: left;
  width: 50%;
  text-align: right;
  margin-top: 30px;
}
.footer_bottom_right_privacy li {
  display: inline-block;
  list-style: none;
}

.footer_bottom_right_privacy li:first-child {
  padding-right: 20px;
}
.footer_bottom_right_privacy a {
  color: #c4d0dc;
  text-decoration: none;
}

.footer_bottom_right_privacy a:hover {
  color: #007fff;
}
/* /right privacy */
/* /footer bottom */
/* /footer */
