* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* clear for float */
.clear_box::after {
  content: "";
  display: block;
  clear: both;
}
/* /clear for float */

/* buttons */
.button_orange{
  color: #fff;
  background-color: #FF7A59;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
}

.button_login {
  color:#FF7A59;
  background-color: transparent;
  border: 1px solid #FF7A59;
  border-radius: 5px;
  padding: 10px 10px;
}
/* /buttons */

/* containers */
/* small */
/* /small */

/* normal */
.container {
  width: 80%;
  margin: auto;
}
/* /normal */
/* /containers */

/* header top */
.header_top_container {
  background-color: #FFF1EE;
  border-bottom: 1px solid black;
}

#header_top{
  padding: 15px 0 ;
}

#header_top li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

/* left column */
.language_choice {
  float: left;
  width: 50%;
}

.left_list {
  color: #00008B;
}

.left_list li {
  padding: 10px;
}

.border_contact{
  border-left: 1px solid #00008B;
  padding-left: 5px;
}
/* /left column */

/* right column */
.search {
  float: left;
  width: 50%;
  text-align: right;
  padding: 0 5px;
}

.right_list li {
  padding-left: 10px;
}
/* /right column */
/* /header top */

/* header middle */
/* /header middle */

/* header bottom */
/* /header bottom */
